apiVersion: apps/v1
kind: Deployment
metadata:
  name: blueblocks-xyz
  namespace: consumer-sites
  labels:
    app: blueblocks-xyz
spec:
  replicas: 2
  selector:
    matchLabels:
      app: blueblocks-xyz
  template:
    metadata:
      labels:
        app: blueblocks-xyz
    spec:
      containers:
      - name: blueblocks-xyz
        image: iad.ocir.io/idd2oizp8xvc/blueblocks-xyz:latest
        ports:
        - containerPort: 80
        resources:
          requests:
            cpu: 50m
            memory: 32Mi
          limits:
            cpu: 200m
            memory: 64Mi
        livenessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 5
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /
            port: 80
          initialDelaySeconds: 3
          periodSeconds: 5
      imagePullSecrets:
      - name: oci-registry
